body {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px auto;
    padding: 0px;
    background-color: #ffffff;	
    padding-top: 71px
}    
*{box-sizing: border-box;}
#header{
	border-bottom: 1px solid #00000040;
	z-index: 100;
	background-color: #ffffff;
}
#header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.site-nav{
	background-color: #ffffff;
}
.nav-bar{
	height: 70px;
	line-height: 70px;
	margin-left: 50px;
	margin-right: 50px;
}
.lo_go{
	width: 20%;
	float: left;
}
.me_nu{
	width: 80%;
	float: right;
}
.lo_go{
	position: fixed;
}

.menu{
	margin: 0;
}
.logo{
	max-height: 50px;
	float: left;
	padding-top: 10px;
}
.menu_folder{
	float: right;
}
nav div p{
    font-weight: 200;
    font-size: 1.5em;
    line-height: 40px;
    color: #2c3e50;
    display: inline;
}
ul.menu{
	padding: 0px;
}
 a{
  text-decoration: none;
  color: #2c3e50;
  font-size: 14px;
}

.menu li{
	list-style-type: none;
	font-weight: bold;
}
.menu li a{
	float: left;
	margin-left: 30px;
}
.sitebar{
	float: left;
	width: 25%;
	padding-left: 50px;
}
.sitebar_content ul li{ list-style-type: none;
	line-height: 25px;
	margin: 0;
	padding: 0;
 }
 .article{
 	width: 75%;
 	float: right;
 }
 .article_content{
 	margin: 25px;
 	margin-right: 50px;
 	line-height: 25px;
 }
 .tittle_article{
 	border-bottom: 1px solid #00000040;
 }