.box{
	width: 300px;
	height: 150px;
	background-color: #003366;
	border-radius: 10px;
	margin: 0 auto;
	transition: background-color 1s linear, border-radius 1s linear; 
}

h1{ line-height: 150px;
	font-size: 70px;
	text-align: center;
	color: white;
}
a{
	text-decoration: none;
}

.box:hover {
	background-color: #009900;
	border-radius: 50px;
}
