body{
	display:  flex;
	justify-content: center;
	align-items: center;
}
button{
	width: 180px;
	height:70px;
	background: #4083b2;
	color: #ffffff;
	font-size: 20px;
	transition: all 1s;
}

button:hover {
	background : #15ab74 ;
	border-radius: 25px;
}