
.animation img{
	box-sizing: border-box;
	animation: img 2s ease infinite;
	width: 300px;
	margin: 15%;
}
@keyframes img {
    10% {
        transform: scale(1.4);
    }
    20% {
        transform: scale(1.0);
    }
    30% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(2);
    }
}

