body {
    background: #fff;
    width height: 100%;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

label {
    color: #666;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}

select {
    border: 1px solid #bdc7d8;
    padding: 2px;
}

input, select, textarea {
    background-color: #fff;
    color: #1d2129;
}

body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1d2129;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
}

td, td.label {
    text-align: left;
}

img {
    border: 0;
}

p {
    margin: 1em 0;
}

button {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}





._53jh {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    position: relative;
    z-index: 1;
}

.loggedout_menubar_container {
    height: 82px;
    min-width: 980px;
}

.clearfix: after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}

.lfloat {
    float: left;
}

._ohe {
    float: left;
}

.rfloat {
    float: right;
}

._ohf {
    float: right;
}

.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a {
    color: #9cb4d8;
    font-weight: normal;
}

.uiContextualLayerParent {
    position: relative;
}

.clearfix {
    zoom: 1;
}

.fb_content {
    min-height: 612px;
    padding-bottom: 20px;
}

.fbIndex .gradient {
    /*background: url(/rsrc.php/v3/yB/r/TwAHgQi2ZPB.png) 0 bottom repeat-x;*/
    background: linear-gradient(white, #D3D8E8);
}

.fbIndex .gradient {
    min-width: 980px;
}

.fbIndex .gradient .gradientContent {
    margin: 0 auto;
    width: 980px;
}

.pvl {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mtm {
    margin-top: 10px;
}

.mbs {
    margin-bottom: 5px;
}

.fsl {
    font-size: 14px;
}

.fwb {
    font-weight: 600;
}

.fcb {
    color: #333;
}

.fsm {
    font-size: 12px;
}

.fwn {
    font-weight: normal;
}

.fcg {
    color: #90949c;
}

.mbm {
    margin-bottom: 10px;
}

.uiStickyPlaceholderInput {
    display: inline-block;
    position: relative;
}

.uiStickyPlaceholderInput .placeholder {
    color: #999;
    cursor: text;
    display: none;
    height: 100%;
    left: 0;
    padding: 4px 0 0 5px;
    position: absolute;
    top: 0;
    width: 100%;
}

div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
}

textarea, .inputtext, .inputpassword {
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.uiStickyPlaceholderInput input, .uiStickyPlaceholderInput textarea {
    background-color: transparent;
    position: relative;
}

.mlm {
    margin-left: 10px;
}

.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mvl {
    margin-top: 20px;
    margin-bottom: 20px;
}




._5iyy {
    margin-right: 15px;
    width: 565px;
}

._5iyx {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}

._5iyz {
    max-width: 400px;
}

._52lp._59d- ._52lq {
    font-size: 36px;
}

._52lp._59d- ._52lr {
    color: #1d2129;
    font-size: 19px;
}

._58mf {
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
}

._58mh {
    width: 399px;
}

._3-90 {
    margin-right: 8px;
}

._a4y {
    display: inline-block;
    position: relative;
}

._5dbb {
    position: relative;
}

._58mf .uiStickyPlaceholderInput {
    background: white;
    border-radius: 5px;
    width: 399px;
}

._58mh .uiStickyPlaceholderInput {
    width: 194px;
}

._58mf .uiStickyPlaceholderInput .placeholder {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._58mf ._58mg {
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
}

._58mf ._58mg, ._58mf .uiStickyPlaceholderInput .placeholder {
    font-size: 18px;
    padding: 8px 10px;
}

._58mh ._58mg {
    width: 172px;
}

._2_68 {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}

._5k_5 {
    position: relative;
}

._5k_4 {
    display: inline-block;
}

._58mq select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

._58ms {
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
    font-size: 11px;
    max-width: 150px;
}

._5k_3 {
    display: inline-block;
}

._5k_2 {
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
}

._5k_2:first-child {
    margin-right: 4px;
}

._58mt {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}

._58mu {
    width: 399px;
}

._58mu ._58mv {
    color: #777;
    font-size: 11px;
    width: 316px;
}

._6j {
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

._6wk {
    padding: 20px 30px;
}

._6wl {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}

._6o {
    font-size: 19px;
    line-height: 126%;
}

._6v {
    font-weight: bold;
}

._58mf ._6o {
    font-size: 19px;
}

._58mk {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}

._2pid {
    padding-top: 8px;
}

._41uf, ._41ug {
    display: inline-block;
    padding-right: 14px;
    position: relative;
}

#pageFooter a {
    text-decoration: none;
    white-space: nowrap;
}


#content {
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}

#globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
}

#pageFooter .copyright {
    font-size: 11px;
}

#facebook ._-kb div {
    font-family: inherit;
}

#facebook ._-kb h1, #facebook ._-kb h2, #facebook ._-kb h3, #facebook ._-kb h4, #facebook ._-kb h5, #facebook ._-kb h6, #facebook ._-kb p {
    font-family: inherit;
}

#facebook ._-kb a {
    font-family: inherit;
}

#facebook ._-kb span {
    font-family: inherit;
}

#pageFooter {
    color: #737373;
    margin: 0 auto;
    width: 980px;
}

#pageFooter a:last-child {
    margin-right: 0;
}


.sp_CDBF8O5xgeq {
    background-image: url(../img/hB81kBPY5bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

i.img {
    -ms-high-contrast-adjust: none;
}

.sp_CDBF8O5xgeq.sx_5a980e {
    width: 170px;
    height: 34px;
    background-position: 0 0;
}

.loggedout_menubar .fb_logo {
    margin-top: 17px;
}

.menu_login_container table tr {
    vertical-align: top;
}

.menu_login_container table tr td {
    padding: 0 0 0 14px;
}

.menu_login_container .html7magic {
    padding-bottom: 4px;
}

.menu_login_container .html7magic label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}

textarea, .inputtext, .inputpassword {
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.inputtext, .inputpassword {
    padding-bottom: 4px;
}

.menu_login_container .inputtext, .menu_login_container .inputpassword {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
}

.menu_login_container #email {
    direction: ltr;
}

.uiButton {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
}

.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
}

.uiButtonConfirm {
    background-color: #4267b2;
    border-color: #29487d;
}

.uiButtonText, .uiButton input {
    background: none;
    border: 0;
    color: #4b4f56;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input {
    color: #fff;
}

.menu_login_container .login_form_label_field {
    padding-top: 4px;
}


#facebook ._-kb button, #facebook ._-kb input, #facebook ._-kb label, #facebook ._-kb select, #facebook ._-kb td, #facebook ._-kb textarea {
    font-family: inherit;
}

.localeSelectorList {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

._4ki>li {
    border-width: 0 0 0 1px;
    display: inline-block;
}

._509->li {
    vertical-align: top;
}

.uiList>li:first-child {
    border-width: 0;
}

._4ki._6-j>li {
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 0
}

._4ki._6-h>li:first-child {
    padding-left: 0;
}

._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

._4jy0 {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

._517h, ._59pe:focus, ._59pe:hover {
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
}

._517i, ._517i._42fr:active, ._517i._42fr._42fs {
    height: 18px;
    line-height: 18px;
}

._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}



#pageFooter a {
    text-decoration: none;
    white-space: nowrap;
}

#facebook ._-kb a {
    font-family: inherit;
}

#pageFooter a:last-child {
    margin-right: 0;
}


#contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

._4jy0 .img {
    bottom: 1px;
    position: relative;
    vertical-align: middle;
}

.sp_CDBF8O5xgeq.sx_94d20d {
    width: 12px;
    height: 12px;
    background-position: -109px -60px;
}

#pageFooter .pageFooterLinkList {
    line-height: 1.6;
    margin-left: -20px;
}

._4ki>li {
    border-width: 0 0 0 1px;
    display: inline-block;
}

._509->li {
    vertical-align: top;
}

.uiList>li:first-child {
    border-width: 0;
}

._4ki._703>li {
    padding-left: 20px;
    padding-right: 20px;
}

._4ki._6-i>li {
    padding-right: 0;
}

.sp_CDBF8O5xgeq.sx_190467 {
    width: 16px;
    height: 16px;
    background-position: -17px -60px;
}

._41ug .img {
    position: absolute;
    top: 1px;
    vertical-align: middle;
}
